body {
  /* المطلوب الأول هنا */
  text-align: center;
  background-size: cover;
  background-image: url(./img/KuwaitCodesWallpaper.png);
  font-family: cairo;
  font-display: swap;
  font-style: normal;
  font-weight: 300;
  

}

/* المطلوب الثاني هنا */
nav { display:flex;
  justify-content:center;
  background-color: rgba(255, 255, 255, 0.568);
}
.nav-elements { display: flex;
  justify-content:space-between;
  width: 150px;
  transition: all 1s step-end;
  
  
}

.card {
  /* المطلوب الثالث هنا */
  width: 400px;
  height: 500px;
  background-color: white;
  box-shadow :5px   5px rgba(0, 0, 0, 0.836);
  border-radius: 12px;

  
}

img{
  /* المطلوب الرابع هنا */
  width: 120px;
  height: 120px;
  margin-top: 20px;
  box-shadow: 20px 20px rgba(255, 255, 255, 0.623);
  border-radius: 120px;
  
}

.hobbies {
  /* المطلوب السادس هنا */
  display: grid;
  grid-template-columns: auto auto auto;
 justify-content: space-between;
 

}
.animation{
  transition: all 2s ease-in-out;

}
.animation:hover{
  width: 100px;
  height: 100px;
  transform: translate(0px,-200px) rotate(30deg)
}
.center {
  margin: auto;}
  
.pic{ transition: all 2s ease-in-out;}
.pic:hover{transform: translate(100px,0) rotate(30deg)}

#section1{
  scroll-behavior: smooth;
}

ul {
  padding: 0;
  margin: 0;
  display: inline-block;
}

a {
  text-decoration: none;
  color: black;

}

  